::-webkit-scrollbar {
	display: none;
}
html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
body {
	margin: 0;
	font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: #fff;
	color: #FFFFFF;
}
html {
	font-size: 100%
}
body {
	/*background: #eee fixed repeat;*/
	color: #193954;
	font-size: .875em; 
}
a {
	color: #00857E;
}
a:hover, a:active {
	color: rgba(0, 186, 188, 0.20);
	text-decoration: none
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}
body > footer {
	padding: 3.571em 1.429em;
	text-align: center;
}
body > footer > .links {
	margin: 0;
	padding: 0
}
body > footer > .links > li {
	display: inline
}
.wizard, .tabcontrol {
	display: block;
	width: 100%;
	overflow: hidden
}
.wizard a, .tabcontrol a {
	outline: 0
}
.wizard ul, .tabcontrol ul {
	list-style: none !important;
	padding: 0;
	margin: 0
}
.wizard ul > li, .tabcontrol ul > li {
	display: block;
	padding: 0
}
.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
	position: absolute;
	left: -999em
}
.wizard > .content > .title, .tabcontrol > .content > .title {
	position: absolute;
	left: -999em
}
.wizard > .steps {
	border-top: 1px solid #00BABC;
	padding-top: 8px;
	position: fixed;
	z-index: 100000;
	bottom: -0px;
	display: block;
	width: 100%;
	background-color: rgba(17, 17, 17, 0.78);
}
.wizard.vertical > .steps {
	display: inline;
	float: left;
	width: 30%
}
.wizard > .steps .number {
	font-size: 1.429em
}
.wizard > .steps > ul > li {
	width: 16.66%
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {
	float: left
}
.wizard.vertical > .steps > ul > li {
	float: none;
	width: 100%
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
	display: block;
	width: auto;
	margin: 0 .5em .5em;
	padding: 0.2em 0.2em;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
	background: #eee;
	color: #aaa;
	margin: 10px;
	cursor: default;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
	background: #00857E;
	color: #fff;
	cursor: default;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
	background: rgba(0, 186, 188, 0.16);
	color: #fff
}
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
	background: #ff3111;
	color: #fff
}
.wizard > .content {
	display: block;
	min-height: 35em;
	overflow-y: auto; /* has to be scroll, not auto */
	width: 100%;
	height: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.wizard.vertical > .content {
	display: inline;
	float: left;
	margin: 0 2.5% .5em 2.5%;
	width: 65%
}
.wizard > .content > .body {
	float: left;
	position: absolute;
	width: 100%;
}
.wizard > .content > .body ul {
	list-style: disc !important
}
.wizard > .content > .body ul > li {
	display: list-item
}
.wizard > .content > .body > iframe {
	border: 0 none;
	width: 100%;
	height: 100%
}
.wizard > .content > .body input {
	display: block;
	border: 1px solid #ccc; 
    border-radius: 4px; 
}
.wizard > .content > .body input[type="checkbox"] {
	display: inline-block
}
.wizard > .content > .body input.error {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #8a1f11
}
.wizard > .content > .body label {
	display: inline-block;
	margin-bottom: .5em
}
.wizard > .content > .body label.error {
	color: #8a1f11;
	display: inline-block;
	margin-left: 1.5em
}
.wizard > .actions {
	position: relative;
	display: block;
	text-align: right;
	width: 100%
}
.wizard.vertical > .actions {
	display: inline;
	float: right;
	margin: 0 2.5%;
	width: 95%
}
.wizard > .actions > ul {
	display: inline-block;
	text-align: right
}
.wizard > .actions > ul > li {
	margin: 0 .5em
}
.wizard.vertical > .actions > ul > li {
	margin: 0 0 0 1em
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
	background: #0D8AAE;
	color: #fff;
	display: block;
	padding: .5em 1em;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active {
	background: #eee;
	color: #aaa
}
.wizard > .loading {
}
.wizard > .loading .spinner {
}
option {
	font-size: 20px;
}

#content {
	background-image: url('../images/bg_image_01.jpg');
	background-size: cover;
}

.innerContent {
	width: 100%; 
	overflow: scroll;
	color: #FFFFFF; 
	top: 50px; 
	position: relative; 
}

.ui-select {
	width: 30%;
	padding: 4px;
	display: inline-block;    border-radius: 4px !important;
}

.ui-input-btn {
	width: 20%;
	margin: 0 auto;
	/*background-color: #00babc !important;
	 color: #EEEEEE !important;
	 text-shadow: none !important; */
}

.ui-state-disabled {
	opacity: 0.9 !important;
	background-color: #EEEEEE !important;
	color: #DDDDDD !important;
}
.gsc-input {
	padding-top: 0 !important;
}

h1 {
	color: #FFFFFF;
	font-size: 3em;
}

h2 {

}

#statusBar {
	position: relative;
	z-index: 99999;
	background-color: rgba(17, 17, 17, 0.78);
	width: 100%;
	height: 20px;
	top: 0px;
	right: 0px;
	font-size: 0.6em;
	color: #222222
} 

section { 
	height: 100%; 
} 

.titleCarousel {
	position: relative;
	 
	top: 0px; 
	 
	margin-left: 4px; 
} 
.swiper-slide {
    left: 2%;
    padding: 5px;
    margin: 5px;
    height: 84% !important; 
	text-align: center;
	font-size: 18px;
	background: #fff;
	border-radius: 10px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

div.transbox {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 0px;
	height: 60px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	background-color: #00857f;
	z-index: 10;
}
div.transboxx {
		position: relative;
		left: 2.5%;
		width: 95%;
		top: -40px;
		height: 100px;		
		border-radius: 10px ;
		background-color:  #e8e5e2;
		z-index: 10;
	}
div.transboxxx {
	position: relative;
	left: 2.5%;
	width: 95%;
	top: -88px;
	height: 100px;		
	border-radius: 10px ;
	background-color:  #e8e5e2;
	z-index: 10;
} 	 	
.circleBase { 
    padding: 10; 
    margin-top: 60; 
	border-radius: 50%; 
	font-size: 26px; 
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.type1 {
	position: relative;
	top: 10%;
	left: 2%;
	width: 60px;
	height: 60px;
	background: #00857f;
	border: 0px;
}

.type2 {
	position: relative;
	top: 10%;
	left: 2%;
	width: 60px;
	height: 60px;
	background: #00857f;
	border: 0px;
}
#video {
	position: relative;
	top: 10px;
	
	
}
#dosage {
	position: relative;
	top: 120px;
	
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.ui-widget-content { 
	border: 0px !important; 
    border-radius: 0px 0px 10px 10px;
} 

.ui-draggable .ui-dialog-titlebar { 
    border-radius: 10px 10px 0px 0px;
} 

.ui-widget-header { 
	background-color: #00857F;  
}

.ui-widget-overlay {
    background: #000000 url("images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x; 
    opacity: .6; 
}
.ui-dialog .ui-dialog-content {
    background-color: #e9e9e9; 
    padding: 0em; 
} 

#container {
	top: 18px; 
	position: relative; 
	min-width: 310px; 
	max-width: 362px; 
	height: 300px; 
	margin: 0 auto; 
}