<style>
	#noConnectionMessageContainerPapers {
		position: absolute;
		text-align: center;
		color: #EEEEEE;
		width: 300px;
		height: 200px;
		z-index: 15;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -150px;
		background: rgba(45,60,66,0.78);
	}

	#noConnectionBackgroundPapers {
		width: 100%;
		height: 100%;
	}

	input { 		
		background-image: none !important;
	} 
	
	.gsc-input {
		padding-top: 12; 
		height: 40px !important; 
		font-size: 1.2em !important; 
		border-radius: .3125em;
	}

	input[type="button"] { 
		margin: .5em 0; 
	    padding: .56em .56em;
	    display: block;
	    position: relative;
	    text-align: center; 
	    overflow: hidden; 
	    cursor: pointer; 
	    font-size: 1em;
    	line-height: 1.3; 
    	border-radius: .3125em; 
	} 
	
	.gs-result .gs-title, .gs-result .gs-title * {
    	color: #0D8AAE !important; 
    	text-decoration: none !important; 
	} 
	
	.gs-result a.gs-visibleUrl, .gs-result .gs-visibleUrl {
    	color: #FF9900 !important; 
	}
	
	.gsc-clear-button { 
		display: none; 
	}
	
	table.gsc-search-box { 
		width: 50% !important; 
		margin-left: auto; 
    	margin-right: auto;
	} 
	
	td { 
		width: 100% !important; 
	} 
	
	.gsc-results { 
		background-color: #FFFFFF; 
	} 
	
	.gsc-results-wrapper-visible { 
		background-color: #FFFFFF; 
		font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
		border-radius: .3125em; 
	} 
	
	.gsc-table-result { 
		font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
	}
	
	.gsc-control-cse { 
		text-align: left; 
	}
	
	.gsc-webResult {
		margin: 2px; 
	} 
	
	.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
    	color: #222222;
	}
	
	h2 { 
	    left: 0px; 
    	top: 0px; 
	}
</style>
<gcse:search></gcse:search>
<div class="innerContent">
	<div id="customSearchContainer" style="text-align: center !important; position: absolute; top: 28%; ">
		<script>
			$(document).ready(function() {
				var customSearchControl = new google.search.CustomSearchControl("000786965406275797098:2nrjflz_cbu");
				var drawOptions = new google.search.DrawOptions();
				customSearchControl.draw(document.getElementById("results"), drawOptions);
				customSearchControl.execute(); 
				$("input[name='search']").val("Type a research topic here").css("color", "#EEEEEE"); 
				$("input[name='search']").on("focus", function() { 
					if($("input[name='search']").val()=="Type a research topic here")
						$("input[name='search']").val("").css("color", "#222222"); 
				}); 
				$("input[name='search']").on("blur", function() { 
					if($("input[name='search']").val()=="") 
						$("input[name='search']").val("Type a research topic here").css("color", "#EEEEEE"); 
				}); 
				customSearchControl.setSearchCompleteCallback(document, function() {
					//$(".gsc-input").css({"height": "40px"}); 
					$("a[class='gs-title']").on("click", function() {
						$('#resultPageFrame').attr("src", this.href);
						$("#resultPage").dialog({
							"width" : "90%" 
						});
						return false;
					});
					$("#customSearchContainer").animate({"top": "-120"}, {duration: "slow"}); 
					$("input[name='search']").blur(); 
				}); 
			}); 
		</script>
		<h1>Find an independent research paper</h1>
		<h2>(source: pubmed.com)</h2>
		<div id="resultcont">
			<div id="results"></div>
			<div id="resultPage" style="display: none">
				<iframe id="resultPageFrame" src="" width="100%" height="100%"></iframe>
			</div>
		</div>
		<script>
			if (!navigator.onLine) {
				$("#noConnectionBackgroundPapers").show();
				$("#noConnectionMessageContainerPapers").show();
			};
		</script>
	</div>
</div>