<script type="text/javascript" src="http://d24cgw3uvb9a9h.cloudfront.net/static/37726/js/api/zoomus.js?44165"></script> 

<div class="popupHeader" style="display: none">
	<div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
		<span id="ui-id-1" class="ui-dialog-title" style="font-size: 1.6em"></span>
		<button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close" style="display: none;">
				<span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
				<span class="ui-button-text">Close</span>
		</button>
	</div>
</div> 

<div class="innerContent" style="overflow: hidden">
	<div id="mapid" class="mapclass" style="height: 100%"></div> 
</div> 

<div id="popupMarker" style="display: none">   
	Dr. Micheal Stephens<br/> 
	Specialty: Oncology<br/> 
	Blackrock Clinic<br/> 
	Dublin 4<br/> 
	<img id="weare" src="images/specialist.png" width="100px"/> 
	
	<div style="text-align: center; position: absolute; bottom: 30px; width: 100%; left: 0px;"> 
		<button onclick="openVideoCall()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Video call</button> 
		<button onclick="selectAttendees()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Schedule</button> 
	</div> 
</div>

<div id="selectAttendees" style="display: none"> 
	<div style="text-align: center; width: 100%"> 
		<input value="vincapozzoli@gmail.com" style="display: initial; width: 196px;" /><br><br> 
		<input value="evan.greally@gmail.com" style="display: initial; width: 196px;" /> 
	</div> 
	<div style="text-align: center; position: absolute; bottom: 30px; width: 100%; left: 0px;"> 
		<button onclick="backToPopUpHome()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Back</button> 
		<button onclick="selectParamsForMeeting()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Next</button> 
	</div> 
</div>

<div id="selectParamsForMeeting" style="display: none"> 
	<div style="text-align: center; width: 100%"> 
		Date: <input type="text" id="meetingDate" style="display: inline-block; width: 196px;"><br><br> 
		Time: <select id="meetingHour" style="display: inline-block;"><option>00</option><option>01</option><option>02</option><option>03</option><option>04</option><option>05</option><option>06</option><option>07</option><option>08</option><option>09</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option></select>
		:<select id="meetingMinutes" style="display: inline-block;"><option>00</option><option>15</option><option>30</option><option>45</option></select> 
		Duration: <select id="meetingDuration"><option>15</option><option>30</option><option>45</option><option>60</option></select>
	</div> 
	<div style="text-align: center; position: absolute; bottom: 30px; width: 100%; left: 0px;"> 
		<button onclick="selectAttendees()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Back</button> 
		<button onclick="addNoteForMeeting()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Next</button> 
	</div> 
</div>

<div id="addNoteForMeeting" style="display: none"> 
	<textarea id="meetingNotes" style="height: 50%; width: 100%; border-top: 1px solid #CCCCCC; border-radius: 4px;"></textarea> 
	<div style="text-align: center; position: absolute; bottom: 30px; width: 100%; left: 0px;"> 
		<button onclick="selectParamsForMeeting()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Back</button> 
		<button onclick="scheduleMeeting()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">Confirm</button> 
	</div> 
</div>

<div id="confirmationMeetingCreated" style="display: none">
	<div style="text-align: center"> 
		<i class="material-icons" style="font-size: 8em; color: #00857F;">people</i> 
		<h3>Your meeting has been scheduled</h3> 
		<div style="text-align: center; position: absolute; bottom: 30px; width: 100%; left: 0px;"> 
			<button onclick="closePopup()" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 140px; background-color: #00857F; color: #FFFFFF;">OK</button> 
		</div> 
	</div> 
</div>

<script> 
	var mymap = L.map('mapid').setView([51.505, 30.09], 4);
	
	var meetingStartTime, meetingDuration, meetingNotes; 
	
	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	    maxZoom: 18,
	    id: 'evang.pcjia5mm',
	    accessToken: 'pk.eyJ1IjoiZXZhbmciLCJhIjoiY2lsbm55aG9uMDAxZXlhbTByMWN5ZXo4ZyJ9.FZ85b0lxLpT0-50mDp-LvQ'
	}).addTo(mymap);
	
	var greenIcon = L.icon({
	    iconUrl: 'images/marker-icon-2x.png',
	    shadowUrl: 'images/marker-shadow.png', 
	    iconSize:     [24, 36], // size of the icon
	    shadowSize:   [24, 36], // size of the shadow
	    iconAnchor:   [24, 36], // point of the icon which will correspond to marker's location
	    shadowAnchor: [16, 36], // the same for the shadow
	    popupAnchor:  [60, 60]  // point from which the popup should open relative to the iconAnchor
	});
	
	var customPopup = $("#popupMarker").html();
	
	// specify popup options 
	var customOptions = {
	    'maxWidth': '400', 
	    'className' : 'custom' 
	}
	
	// create marker object, pass custom icon as option, pass content and options to popup, add to map
	L.marker([53.34051, -6.26026], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker1 = L.marker([55.74, 37.62154], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker2 = L.marker([52.23201, 21.01044], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker3 = L.marker([52.26816, 13.35938], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker4 = L.marker([48.34165, 3.16406], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker5 = L.marker([41.04622, -3.51563], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker6 = L.marker([40.71396, 29.26758], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap);
	var marker7 = L.marker([41.90228, 12.4585], {icon: greenIcon}).bindPopup(customPopup,customOptions).addTo(mymap); 
	
	function openVideoCall() { 
		window.open('https://zoom.us/j/9685865444', '_system', 'location=no'); 
	} 
	
	function selectAttendees() { 
		$(".leaflet-popup-content").html($("#selectAttendees").html()); 
		
		//Attached header div into the popup 
		$(".popupHeaderSet > .ui-dialog-titlebar").remove(); 
		$(".leaflet-popup-content-wrapper").prepend($(".popupHeader").html()).addClass("popupHeaderSet"); 
		
		//Change header 
		$(".ui-dialog-title").html("Select attendees"); 
	}
	
	function selectParamsForMeeting() { 
		$(".leaflet-popup-content").html($("#selectParamsForMeeting").html()); 
		
		//Change header 
		$(".popupHeaderSet > ui-dialog-titlebar").remove(); 
		$(".ui-dialog-title").html("Choose a date and time"); 
		
		$("#meetingDate").datepicker({dateFormat: "yy-mm-dd", constrainInput: true, "minDate": new Date()}); 
	} 
	
	function backToPopUpHome() {
		$(".leaflet-popup-content").html($("#popupMarker").html()); 
		$(".popupHeaderSet > .ui-dialog-titlebar").remove(); 
	} 
	
	function addNoteForMeeting() { 
		if($("#meetingDate").val() && $("#meetingDate").val() != "") { 
			//Save inputs selected 
			meetingStartTime = $("#meetingDate").val() + "T" + $("#meetingHour").val() + ":" + $("#meetingMinutes").val() + ":00Z"; 
			meetingDuration = $("#meetingDuration").val(); 
			
			$(".leaflet-popup-content").html($("#addNoteForMeeting").html()); 
			
			//Change header 
			$(".popupHeaderSet > ui-dialog-titlebar").remove(); 
			$(".ui-dialog-title").html("Add a note"); 
		} else { 
			alert("Please pick up a date for the meeting"); 
			$("#meetingDate").focus(); 
		} 
	} 
	
	function scheduleMeeting() { 
		Zoom.init("http://www.zoom.us/api/v1");

		Zoom.login({
			email : "vincapozzoli@alice.it",
			password : "productspeak24"
		}, function(result) { 
			console.log(result); 
			meetingNotes = $("#meetingNotes").val(); 
			var meetingInfo = {
				"topic": "Voxily", 
				"password": "123", 
				"type": 2, 
				"start_time": meetingStartTime, 
				"duration": meetingDuration, 
				"timezone": "GMT", 
				"option_jbh": true, 
				"option_host_video": true, 
				"option_participants_video": true, 
				"option_audio_type":"both"
			}
			console.log(meetingInfo); 
			Zoom.createMeeting(meetingInfo, function(result) { 
				console.log(result); 
				
				$(".popupHeaderSet > .ui-dialog-titlebar").remove();
				$(".leaflet-popup-content").html($("#confirmationMeetingCreated").html()); 
			}); 
		}); 
	} 
	
	
	function closePopup() {
		mymap.closePopup(); 
	}
	
</script>