<style>
	#noConnectionMessageContainerData {
		position: absolute;
		text-align: center;
		color: #EEEEEE;
		width: 300px;
		height: 200px;
		z-index: 15;
		top: 50%;
		left: 50%;
		margin: -100px 0 0 -150px;
		background: rgba(45,60,66,0.78);
	}

	#noConnectionBackgroundData {
		width: 100%;
		height: 100%;
	}
</style>

<div class="innerContent" style="overflow: hidden">
	<iframe id="dashboard" src="https://sense-demo.qlik.com/sense/app/9b9f348c-b870-41f0-928e-223167c5cc3b/sheet/1e648db4-7e24-4a29-83e0-b703ef57e89c/state/analysis"style="position:absolute; border-radius: 10px;" width="100%" height="100%" frameborder="0" marginwidth="o" marginheight="0" scrolling="no" allowfullscreen></iframe>
	<img id="noConnectionBackgroundData" src="images/noConnection.png" style="display: none">
	<div id="noConnectionMessageContainerData" style="display: none">
		<h2>Detailed data available online only.
		<br>
		<span style="font-size: 0.6em; line-height: 1.2em">Please connect to a network to see more.</span></h2>
	</div>
</div> 

<script>
	if (!navigator.onLine) { 
		$("#dashboard").hide(); 
		$("#noConnectionBackgroundData").show();
		$("#noConnectionMessageContainerData").show();  
	} 
	
	$(window).ready(function() {
		
	}); 
</script>