<div class="innerContent">
	<div id="paperList" title="Select links for attachement" style="display:none; background-color: #EEEEEE">
		<div style="text-align: left; height: 270; overflow: scroll; background-color: #FFFFFF"> 
			<br> 
			<input type="checkbox" id="selectAll"><label for="selectAll">Select All</label></br><br>
			<input type="checkbox" id="checkbox1" name="checkboxPL">
			<label role="dialog" for="checkbox1" href="#">ICON Oncology Overview</label></br>
			<input type="checkbox" id="checkbox2" name="checkboxPL">
			<label role="dialog" for="checkbox2" href="#">Improving Trial Success by Improving Tumor Assessment</label></br>
			<input type="checkbox" id="checkbox3" name="checkboxPL">
			<label role="dialog" for="checkbox3" href="#">ICON Central Laboratories Oncology Capabilities</label></br>
			<input type="checkbox" id="checkbox4" name="checkboxPL">
			<label role="dialog" for="checkbox4" href="#">ICON Medical Imaging Oncology Capabilities</label></br> 
		</div> 
		<br>
		<button id="paperListNext" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="width: 100px; background-color: #00857F; color: #FFFFFF;">Next</button>
	</div>
	<div id="paper" title="Paper" style="display:none; overflow: auto; -webkit-overflow-scrolling: touch;">
		<iframe src="https://www.iconplc.com/icon-files/docs/Clinical%20Brochures/OncologyBrochure(final)-August-08.pdf" width="100%" height="100%" frameborder="0"></iframe>
	</div>
	<div id="areasOfInterest" title="Select the areas of interest" style="display: none; text-align: center; background-color: #EEEEEE">
		<div style="text-align: left; height: 270; overflow: scroll; background-color: #FFFFFF"> 
			<br> 
			<input type="checkbox" id="selectAllAoI"><label for="selectAllAoI">Select All</label></br><br>
			<input type="checkbox" id="checkboxAoI1" name="checkboxAoI">
			<label for="checkboxAoI1" href="#">Oncology</label></br>
			<input type="checkbox" id="checkboxAoI2" name="checkboxAoI">
			<label for="checkboxAoI2" href="#">Central Nervous System</label></br>
			<input type="checkbox" id="checkboxAoI3" name="checkboxAoI">
			<label for="checkboxAoI3" href="#">Cardiovascular</label></br>
			<input type="checkbox" id="checkboxAoI4" name="checkboxAoI">
			<label for="checkboxAoI4" href="#">Vaccines</label></br>
			<input type="checkbox" id="checkboxAoI5" name="checkboxAoI">
			<label for="checkboxAoI5" href="#" >Gastrointestinal</label></br>
			<input type="checkbox" id="checkboxAoI6" name="checkboxAoI">
			<label for="checkboxAoI6" href="#">Endocrine and Metabolic Disorders</label></br>
			<input type="checkbox" id="checkboxAoI7" name="checkboxAoI">
			<label for="checkboxAoI7" href="#">Transplant and Immunology</label></br>
			<input type="checkbox" id="checkboxAoI8" name="checkboxAoI">
			<label for="checkboxAoI8" href="#">Rare and Orphan Diseases</label></br>
			<input type="checkbox" id="checkboxAoI9" name="checkboxAoI">
			<label for="checkboxAoI9" href="#" name="checkboxAoI">Other Therapeutic Areas</label></br>
		</div> 
		<br> 
		<button id="areasOfInterestBack" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Back</button>
		<button id="areasOfInterestNext" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Next</button>
	</div>
	<div id="termsAndConditions" title="Terms & Conditions" style="display: none; text-align: center; background-color: #EEEEEE">
		<div style="text-align: left; height: 230; overflow: scroll; padding: 20; background-color: #FFFFFF">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit, turpis non pellentesque scelerisque, purus arcu pharetra lectus, quis scelerisque est urna in lorem. Etiam tincidunt tortor dui, a porta ipsum vulputate in. Quisque nec rutrum enim. Phasellus consequat vestibulum consectetur. Aliquam vitae tortor ac felis tristique lobortis. Aliquam pretium ipsum lorem. Sed a erat justo. Etiam imperdiet at sapien non tempor. Mauris finibus sit amet dolor vitae mattis. Cras malesuada felis nec erat ornare pretium. In porta nulla sapien, a auctor tellus malesuada ut. Vivamus varius, lorem eu sollicitudin semper, nisi mi volutpat ante, eget mattis ipsum augue eget eros. Aliquam non augue sem. Donec tincidunt urna nisi, nec ultrices sapien posuere vel. Maecenas pulvinar libero in metus molestie, sed dictum diam egestas. Vivamus quis lacinia purus, at scelerisque ex. Nullam sit amet bibendum turpis, eget dapibus turpis. Maecenas a interdum tellus. Nulla facilisi. Vestibulum id sem quam. Fusce rutrum, nibh fermentum varius dignissim, orci dolor scelerisque sem, non egestas nisi elit eget velit. Quisque venenatis id enim in molestie. Suspendisse eleifend ligula lorem, at ultrices magna auctor bibendum. <br><br> 
			Nam et laoreet massa. Morbi interdum ultricies nulla nec ultrices. In lacus nisi, rutrum eget auctor eleifend, feugiat et ex. Nam sit amet consequat urna, et vehicula odio. Aliquam placerat nec leo et finibus. In sagittis eros et arcu aliquam luctus. Nunc et nisl sit amet elit facilisis maximus. Nunc ultrices tellus at porta blandit. In quis elementum ligula, tempor mattis tortor. Morbi semper lacus non mollis pharetra. Curabitur scelerisque ut erat eu luctus. Nam blandit orci at est placerat dapibus eu quis velit. Etiam eu hendrerit odio. Donec dictum ornare fringilla. <br><br> 
			Phasellus non accumsan libero. Duis pulvinar sit amet orci vel egestas. Pellentesque ac massa eu orci semper euismod a eu orci. Pellentesque blandit blandit metus, a pharetra ipsum. Proin maximus lobortis risus, nec suscipit nunc molestie et. Mauris porttitor justo eget tellus aliquet, vitae dapibus mi cursus. Integer aliquam feugiat enim sit amet porta. <br><br> 
			Phasellus sit amet sem dapibus, ultricies nunc at, lobortis turpis. Vivamus vulputate orci vitae turpis scelerisque luctus. Aliquam porttitor libero lobortis nisi elementum finibus. Suspendisse nec cursus urna. Praesent volutpat augue nibh, sit amet vulputate nisi pharetra in. Integer cursus consequat mauris at semper. Phasellus aliquam lacus sit amet elit vestibulum, a interdum tellus aliquam. Donec iaculis quam ultricies odio accumsan fermentum. Sed efficitur arcu in felis scelerisque lobortis. Ut tellus massa, dignissim in laoreet eu, efficitur nec dui.
		</div> 
		<br> 
		<button id="termsAndConditionsBack" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Back</button>
		<button id="termsAndConditionsNext" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Next</button>
	</div>
	<div id="signature" title="Please provide a signature and email address" style="display: none; text-align: center; background-color: #EEEEEE">
		
		<script src="js/signature_pad.js"></script>
		<script src="js/app.js"></script>
		<link rel="stylesheet" href="css/signature-pad.css">
				
		<div style="text-align: left; height: 270; overflow: scroll; background-color: #FFFFFF"> 				
			<br> 
			<form accept-charset="UTF-8" method="post" action="http://go.pardot.com/l/106002/2016-01-05/4w5jv" class="form" id="pardot-form"> 
				<div id="signature-pad" class="m-signature-pad">
					<div class="m-signature-pad--header"> 
						<a href="#" style="text-decoration: none; color: #00857F" data-action="clear">Erase</a>
					</div>
					<div class="m-signature-pad--body">
						<canvas></canvas>
					</div>
					<div class="m-signature-pad--footer" style="text-align: center">
						<input style="display: inline; position: relative; top: 20" type="text" name="106002_13961pi_106002_13961" id="106002_13961pi_106002_13961" value="vincapozzoli@gmail.com" onchange="piAjax.auditEmailField(this, 106002, 13961, 3136075);"> 
					</div>
				</div> 
			</form> 
		</div> 
		<br> 
		<button id="signatureBack" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Back</button>
		<button id="signatureNext" data-action="save" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Next</button>
	</div> 
	<div id="emailSentConfirmation" title="" style="display: none; text-align: center; background-color: #EEEEEE">
		<div style="height: 270; overflow: scroll; background-color: #FFFFFF">
			<i class="material-icons" style="font-size: 8em; color: #00857F;">email</i> 
			<h2>Your email has been sent</h2>
		</div> 
		<br> 
		<button id="emailSentConfirmationBack" class="ui-btn ui-input-btn ui-corner-all ui-shadow" style="display:inline-block; width: 100px; background-color: #00857F; color: #FFFFFF;">Back</button>
	</div>
<script>
	$(document).ready(function() { 
		
		$("#paperList").dialog({height: 400, width: 500}); 
		//Close and reopen dialog to fix a problem when step6 is reloaded 
		$("#paperList").dialog("close"); 
		$("#paperList").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); }}); 
		
		$("#selectAll").on("click", function() {
			$("input[name='checkboxPL']").prop('checked', $(this).prop("checked")); 
		});

		$("#selectAllAoI").on("click", function() {
			$("input[name='checkboxAoI']").prop('checked', $(this).prop("checked")); 
		});
				
		$("label[role='dialog']").on("click", function() { 
			$(".ui-dialog-titlebar-close").show(); 
			$("#paper").dialog({modal: true, height: 600, width: 700, close: function() { $("#paperList").dialog({modal: true, height: 400, width: 500}); $(".ui-dialog-titlebar-close").hide(); }}); 
		}); 
		
		$("#paperListNext").on("click", function() { 
			$(".ui-widget-overlay").remove(); 
			$("#paperList").dialog("close"); 
			$("#areasOfInterest").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();}}); 
		}); 
		
		$("#areasOfInterestNext").on("click", function() { 
			$(".ui-widget-overlay").remove(); 
			$("#areasOfInterest").dialog("close"); 
			$("#termsAndConditions").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();}}); 
		}); 

		$("#areasOfInterestBack").on("click", function() { 
			$(".ui-widget-overlay").remove();  
			$("#areasOfInterest").dialog("close"); 
			$("#paperList").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();}}); 
		}); 
		
		$("#termsAndConditionsNext").on("click", function() { 
			$(".ui-widget-overlay").remove();  
			$("#termsAndConditions").dialog("close"); 
			$("#signature").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); }}); 
			$("a[data-action=clear]").blur();
			setTimeout(resizeCanvas, 1000);  
		}); 

		$("#termsAndConditionsBack").on("click", function() { 
			$(".ui-widget-overlay").remove();  
			$("#termsAndConditions").dialog("close"); 
			$("#areasOfInterest").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();}}); 
		}); 

		$("#signatureNext").on("click", function() { 
			if (signaturePad.isEmpty()) {
        		alert("Please provide signature first."); 
        		return false; 
    		} else {     			
    			submitEmail(); 
				$(".ui-widget-overlay").remove(); 
				$("#signature").dialog("close"); 
				$("#emailSentConfirmation").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); $(".ui-dialog-titlebar").css("display", "none"); $(".ui-widget-content").css("border-radius", "10px"); }}); 
			}  
		}); 

		$("#signatureBack").on("click", function() { 
			$(".ui-widget-overlay").remove();  
			$("#signature").dialog("close"); 
			$("#termsAndConditions").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();}}); 
		}); 
		
		$("#emailSentConfirmationBack").on("click", function() { 
			$(".ui-widget-overlay").remove();  
			$("#emailSentConfirmation").dialog("close"); 
			$("#signature").dialog({modal: true, height: 400, width: 500, open: function(event, ui) { $(".ui-dialog-titlebar-close", ui.dialog | ui).hide(); $(".ui-dialog-titlebar").css("display", "block"); $(".ui-widget-content").css("border-radius", "0px 0px 10px 10px"); }}); 
		}); 		
		
	}); 
</script>
	
	