<!-- Link Swiper's CSS -->
<link rel="stylesheet" href="css/swiper.min.css">

<script type="text/javascript">
$(function () {
// Create the chart
$('#container').highcharts({
chart: {
type: 'pie'
},
title: {
text: 'Decrease in Nausea in Selected Age Groups'
},
subtitle: {
text: '(over 2 months)'
},
plotOptions: {
series: {
dataLabels: {
enabled: true,
format: '{point.name}: {point.y:.1f}%'
}
}
},

tooltip: {
headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
},
series: [{
name: 'Age',

data: [{
name: '18-25',
y: 15,
drilldown: '18-25'
}, {
name: '25-55',
y: 74,
drilldown: '25-55'
}, {
name: '55-70',
y: 11,
drilldown: '55-70'

}]
}],
drilldown: {
series: [{
name: '18-25',
id: '18-25',
data: [
['Male', 30],
['Female', 70],

]
}, {
name: '25-55',
id: '25-55',
data: [
['Male', 45],
['Female', 55],

]
}, {
name: '55-70',
id: '55-70',
data: [
['Male', 20],
['Female', 90],

]
}]
}
});
});
</script>
<div class="innerContent"> 
	<!-- Swiper -->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="transbox">
					<h5 class="titleCarousel">VOXILY</h5>
					<p style="color:#000000; position:relative; top: 10px;">After 12 Months of Treatment</p>
					<p style="color:#000000; position:absolute; left: 29%; top: 122px; z-index: 9999; font-size: 16;">of patients had >20% reduction</p>
					<p style="color:#000000; position:absolute; left: 29%; top: 142px; z-index: 9999; font-size: 16;">in BPRS</p>
					<p style="color:#000000; position:absolute; left: 29%; top: 235px; z-index: 9999; font-size: 16;">of patients had a reduction in</p>
					<p style="color:#000000; position:absolute; left: 29%; top: 255px; z-index: 9999; font-size: 16;">stomach pain</p>
					<div class="transboxx">
					
					<div class="circleBase type1">
						<h4 style="position:relative; top:-15px;">81<span style="font-size:15px;">%</span></h4>
					</div>
					
					</div>
					<div class="transboxxx">
					<div class="circleBase type2">
						<h4 style="position:relative; top:-15px;">42<span style="font-size:15px;">%</span></h4>
					</div>
					</div>
	
				</div>
			</div>
			<div class="swiper-slide">
				<div class="transbox">
					<h5 class="titleCarousel">PRODUCT VIDEO</h5>
				
					<div>
					
					
						
					<iframe id="video" src="https://player.vimeo.com/video/18422357" width="95%" height="200" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	
 
					</div> 
				</div>
			</div>
			<div class="swiper-slide">
				<div class="transbox">
					<h5 class="titleCarousel">DOSAGE</h5>
					<p style="color:#000000; position:relative; top: 10px;">Solvent: 1.9ml</br>Injection: Gluteal Muscle Only</p>
					
					
   <table style="position: relative; top:33px;" class="table table-bordered">
      <thead>
         <tr>
           
            <th>Dose</th>
            <th>Final Volume to Inject</th>
            
         </tr>
      </thead>
      <tbody>
         <tr>
            
            <td>400mg</td>
            <td>2.0ml</td>
            
         </tr>
         <tr>
           
            <td>300mg</td>
            <td>1.5ml</td>
            
         </tr>
         
      </tbody>
   </table>


				</div>
			</div>
			<div class="swiper-slide">
				<div class="transbox">
					<h5 class="titleCarousel">ANALYTICS</h5>
					<div id="container"></div>
				</div>
			</div>			
	
		</div>
		<!-- Add Pagination -->
		<div class="swiper-pagination"></div>
	</div>
</div>
<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper = new Swiper('.swiper-container', {
		pagination : '.swiper-pagination',
		slidesPerView : 2.7,
		paginationClickable : true,
		centeredSlides: true,
		spaceBetween : 25 
	}); 
</script>